*{
    box-sizing: border-box;
    top: 0px;
    margin: 0px;
    padding: 0px;
}

body{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D6A2E8;
}

body div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    width: 200px;
    height: 200px;
    background-color:white ;
}

.titulo{
    text-align: center;
}